.content {
  display: grid;
  grid-template-rows: auto 1fr;
}

.header {
  display: flex;
  justify-content: space-between;
}

.headline {
  display: flex;
  align-items: flex-end;
}

.headline h2 {
  margin: 0 8px 0 0;
}

.headline small {
  color: var(--font-light);
  font-size: 13px;
  padding-bottom: 2px;
}

.list {
  margin-top: 56px;
}

.addBtn {
  padding: 13px 23px !important;
}

.icon {
  background: url('/src/assets/personIcon.svg');
  color: var(--white);
  width: 15px;
  height: 15px;
  margin-right: 8px;
}

/**
  View from max-width 800px 
**/
@media (max-width: 800px) {
  .header {
    flex-direction: column;
  }
  .header a {
    margin-top: 16px;
  }
}
