table {
  border-spacing: 0px 10px;
  width: 100%;
}

th {
  text-align: left;
}

th:first-child {
  padding-left: 26px;
}

.row {
  background: #ffffff;
  box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-top: 10px;
}

.column {
  padding: 32px 0;
}

.column:first-child {
  padding-left: 26px;
}

.action {
  display: flex;
  justify-content: center;
  padding-right: 26px;
  height: 100%;
  padding-top: 32px;
}

.mobileTitle {
  display: none;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name span:first-child {
  font-weight: 600;
}

.name span:nth-child(2) {
  font-size: 14px;
  color: var(--font-light);
}
.country,
.jobTitle,
.salary {
  font-size: 16px;
  color: var(--font-gray);
}

.salary span:nth-child(2) {
  margin-left: 4px;
}

.salary small {
  font-size: 13px;
  margin-left: 4px;
  color: var(--font-light);
}

.action a {
  display: flex;
  justify-content: center;
}

.country,
.jobTitle,
.salary {
  display: flex;
  align-items: center;
}

.editBtn {
  text-align: center;
  text-decoration: none;
  width: 90px;
  min-width: 50px;
}

/**
  View from max-width 800px 
**/
@media (max-width: 800px) {
  .row {
    grid-template-rows: 1fr 1fr 1fr 1fr 43px;
    grid-template-columns: unset;
    row-gap: 8px;
  }
  .column {
    height: auto;
  }
  .action {
    display: flex;
    justify-content: center;
  }
  .mobileTitle {
    display: block;
    margin-bottom: 8px;
  }
  .name span:first-child {
    font-weight: 500;
    color: var(--font-gray);
  }
}
