.primaryBtn {
  display: flex;
  align-items: center;
  font-size: 16px;
  width: auto;
  padding: 10px 23px;
  background: var(--primary-color);
  color: var(--font-white);
  border: none;
  box-shadow: 0px 6px 12px var(--secondary-color);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
}

.secondaryBtn {
  padding: 10px 57px;
  background-color: var(--white);
  border: 2px solid var(--secondary-color);
  border-radius: 50px;
  color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}
.primaryBtn:hover {
  background-color: #503cc9;
}
.secondaryBtn:hover {
  background: var(--primary-color);
  color: var(--font-white);
}

.headline {
  font-size: 26px;
  color: var(--font-dark);
}
