.nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 111px;
  background-color: var(--white);
}

.profileImg {
  width: 36px;
  height: 36px;
  border-radius: 50px;
  background-color: #ffe8df;
}

.profileDetails {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
}

.userRole {
  color: var(--font-light);
}
