nav {
  display: flex;
  justify-content: center;
  background-color: var(--white);
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 111px;
  width: 100%;
  max-width: 1280px;
}

.profileImg {
  width: 36px;
  height: 36px;
  border-radius: 50px;
  background-color: #ffe8df;
}

.profileDetails {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
}

.userRole {
  font-size: 13px;
  color: var(--font-light);
}

.userName {
  font-size: 16px;
  color: var(--font-dark);
}
